<div class="container">
  <h1>Hy, Patrick</h1>
  <div class="main-container">
    <div class="tasks-container">
      <div class="tasks-container__task">
        <div class="card text-bg-light">
          <h5 class="card-header">Aufgaben</h5>
          <div class="card-body">
            <button class="btn btn-success btn-sm mb-3" routerLink="/aufgaben">Meine Aufgaben bearbeiten</button>
            <ul class="card-text">
              <li>Aufgabe 1</li>
              <li>Aufgabe 2</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tasks-container__appointments">
        <div class="card text-bg-light">
          <h5 class="card-header">Termine</h5>
          <div class="card-body">
              <button class="btn btn-success btn-sm mb-3" routerLink="/termine">Meine Termine bearbeiten</button>
            <ul class="card-text">
              <li>Termin 1</li>
              <li>Termin 2</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="maintenance-container">
      <div class="card text-bg-info">
        <h5 class="card-header">Wartungsarbeiten</h5>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
