<div class="container">
  <h1>{{getGreeting()}} {{currentUser?.firstName}} {{currentUser?.lastName}}</h1>
  <div class="main-container">
    <div class="tasks-container">
      <div class="tasks-container__task">
        <div class="card text-bg-light">
          <h5 class="card-header">Aufgaben <span class="float-end">Offen: {{userAssignments.length}}</span></h5>
          <div class="card-body">
            <button class="btn btn-success btn-sm mb-3" routerLink="/aufgaben">Meine Aufgaben bearbeiten</button>
            <ng-container *ngIf="userAssignments.length <= 0; else assignments">
              <div class="card-text">
                <span class="material-symbols-outlined text-success">thumb_up</span>
                <p class="card-text">Keine offenen Aufgaben</p>
              </div>
            </ng-container>
            <ng-template #assignments>
              <ul *ngFor="let assignment of userAssignments" class="card-text">
                <li>{{assignment.name}}</li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="tasks-container__appointments">
        <div class="card text-bg-light">
          <h5 class="card-header">Termine</h5>
          <div class="card-body">
            <button class="btn btn-success btn-sm mb-3" routerLink="/termine">Meine Termine bearbeiten</button>
            <ul class="card-text">
              <li>Termin 1</li>
              <li>Termin 2</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="maintenance-container">
      <div class="card text-bg-info">
        <h5 class="card-header">Wartungsarbeiten <span>{{currentMonth | monthConverter}} {{currentYear}}</span></h5>
        <div class="card-body">
          <ng-container *ngIf="maintenances.length > 0; else noMaintenance">
            <div class="table-responsive table-dark">
              <table class="table">
                <thead>
                <tr class="table-primary">
                  <th scope="col">Name</th>
                  <th scope="col">Details</th>
                  <th scope="col">Nächste Ausfürung</th>
                  <th scope="col">Intervall</th>
                  <th scope="col">Bearbeiten</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let maintenance of maintenances" [ngClass]="isOlderThanCurrentMonth(maintenance.nextExecution) ? 'table-danger' : 'table-light'">
                  <th>{{maintenance.name}}</th>
                  <td class="maintenance-description" (click)="onMaintenanceDescription(maintenance.description)">Beschreibung</td>
                  <td>{{maintenance.nextExecution | date: 'dd.MM.yyy'}}</td>
                  <td>{{maintenance.interval > 1 ? 'Alle ' + maintenance.interval + ' Monate': 'Jeden Monat'}}</td>
                  <td (click)="onCloseMaintenance(maintenance)"><i class="fa fa-pencil custom-icon" aria-hidden="true"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-template #noMaintenance>
            <h5 class="text-center">Es gibt keine Wartungsarbeiten im {{currentMonth | monthConverter}}</h5>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
