<div class="container">
  <h2>Admin</h2>
  <ng-container>
    <h5 class="mt-5">Aufgaben:</h5>
    <button (click)="onAddNewAssignment()" class="btn btn-primary"><i aria-hidden="true" class="fa fa-plus"></i> Aufgabe
      erstellen
    </button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Bearbeiter</th>
          <th scope="col">Erstellt am</th>
          <th scope="col">Abgeschlossen</th>
          <th scope="col">Bearbeiten</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignment of assignments">
          <td>{{assignment.name}}</td>
          <td>{{assignment.description}}</td>
          <td>{{assignment.userFullName}}</td>
          <td>{{assignment.createDate | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>
            <i *ngIf="assignment.isCompleted" aria-hidden="true" class="fa fa-check text-success"></i>
            <i *ngIf="!assignment.isCompleted" aria-hidden="true" class="fa fa-times text-danger"></i>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-between">
              <span (click)="onEditAssignment(assignment)" class="material-symbols-outlined custom-icon">edit</span>
              <span (click)="onDeleteAssignment(assignment)" class="material-symbols-outlined custom-icon delete-icon">delete</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
