<div class="container">
  <div class="home-background"></div>
  <h1>Willkommen beim Facility Management</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat inventore maiores placeat quasi ratione
    repudiandae, sit suscipit temporibus tenetur voluptate? Fugiat magni, mollitia officia pariatur qui quis ratione
    repudiandae ullam!</p>
  <h2>Funktionen</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi consectetur cumque dolores ducimus facere harum
    iste magni mollitia numquam officiis praesentium ratione, sapiente similique sunt suscipit unde! Cum,
    reiciendis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid blanditiis dolorem doloremque excepturi
    magnam maxime, officia omnis quam reprehenderit rerum sint suscipit voluptate. Beatae dignissimos iure molestiae
    perferendis voluptatem?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic itaque necessitatibus odit ratione
    voluptatem. Cum cupiditate labore voluptatibus! Ab blanditiis dolorem eligendi facilis illum libero minima quam
    ratione rerum!</p>
  <h3>Weiteres</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ducimus nisi pariatur praesentium ullam
    voluptas voluptatibus! Dolores earum, eveniet explicabo illo, molestiae natus nemo nulla perferendis quidem rem,
    tempora voluptatum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias architecto autem cum deserunt eaque inventore
    ipsum itaque iusto mollitia neque nesciunt nobis officia porro quod sed tempore totam, veniam?</p>
</div>
