<div class="container">
  <h2>Passwort zurücksetzen</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
    <div class="form-group">
      <label class="form-label" for="password">Neues Passwort</label>
      <div class="input-group">
        <input [ngClass]="{
      'is-invalid': password.invalid && (password.dirty || password.touched),
      'is-valid': password.valid
      }" [type]="isInputText ? 'text' : 'password'" class="form-control" formControlName="password" id="password">
        <span (click)="isInputText = !isInputText" *ngIf="!isInputText"
              class="material-symbols-outlined input-group-text login-icon">visibility_off</span>
        <span (click)="isInputText = !isInputText" *ngIf="isInputText"
              class="material-symbols-outlined input-group-text login-icon">visibility</span>
        <div *ngIf="password.hasError && (password.dirty || password.touched)" class="invalid-feedback">
          <p *ngIf="password.hasError('required')">Passwort ist ein Pflichtfeld</p>
          <div *ngIf="!password.hasError('required')">
            <div [ngClass]="password.hasError('hasNumber') ? 'text-danger': 'text-success'">
              <i [ngClass]="password.hasError('hasNumber') ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              Muss mindestens 1 Nummer haben!
            </div>
            <div [ngClass]="password.hasError('minlength') ? 'text-danger': 'text-success'">
              <i [ngClass]="password.hasError('minlength') ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              Muss mindestens 8 Zeichen lang sein!
            </div>
            <div [ngClass]="password.hasError('hasCapitalCase') ? 'text-danger': 'text-success'">
              <i [ngClass]="password.hasError('hasCapitalCase') ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              Muss mindestens 1 in Großbuchstaben enthalten!
            </div>
            <div [ngClass]="password.hasError('hasSmallCase') ? 'text-danger': 'text-success'">
              <i [ngClass]="password.hasError('hasSmallCase') ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              Muss mindestens 1 Buchstabe in Kleinbuchstaben enthalten!
            </div>
            <div [ngClass]="password.hasError('hasSpecialCharacters') ? 'text-danger': 'text-success'">
              <i [ngClass]="password.hasError('hasSpecialCharacters') ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              Muss mindestens 1 Sonderzeichen enthalten!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="confirmPassword">Passwort wiederholen</label>
      <div class="input-group">
        <input [ngClass]="{
      'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
      'is-valid': confirmPassword.valid
      }" [type]="isInputText ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
               id="confirmPassword">
        <span (click)="isInputText = !isInputText" *ngIf="!isInputText"
              class="material-symbols-outlined input-group-text login-icon">visibility_off</span>
        <span (click)="isInputText = !isInputText" *ngIf="isInputText"
              class="material-symbols-outlined input-group-text login-icon">visibility</span>
        <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
             class="invalid-feedback">
          <p *ngIf="confirmPassword.errors['required']">Passwort wiederholen ist ein Pflichtfeld</p>
          <p *ngIf="confirmPassword.errors['passwordMismatch']">Passwörter stimmen nicht überein</p>
        </div>
      </div>
    </div>
    <div class="d-grid mt-5">
      <button [disabled]="resetForm.invalid" class="btn btn-success" type="submit">Absenden</button>
    </div>
  </form>
</div>
